* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; /* Adjust the gap as needed */
    padding: 100px 50px;
    flex-direction: row; /* Set the flex direction to row */
  }
  
  .container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 400px; /* Adjust the width as needed */
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }
  
  .container .card:hover {
    height: 400px;
  }
  
  .container .card .imgBx {
    position: absolute;
    top: 20px;
    width: 399px; /* Adjust the width as needed */
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .container .card:hover .imgBx {
    top: -60px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  }
  
  .container .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .container .card .content{
    position: absolute;
    top: 252px;
    width: 100%;
    padding: 0 30px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
  }

  .container .card:hover .content{
    top: 150px;
    height: 250px;
  }